* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 0, 0, 0.883);
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 20vh;
    background-color: black;
    z-index: -1;
    transform: translateY(-50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

main {
    background-color: white;
    width: 90vw;
    max-width: 500px;
    height: 90vw;
    max-height: 500px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 1.2rem;
    margin: 40px 0;
    font-family: "Press Start 2P", serif;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#textOne, #textTwo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: "Press Start 2P", serif;
}

input[type= 'button'] {
    padding: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10%;
    cursor: pointer;
}

#questionOne {
    background-image: url('./img/fogo.png');
}

#questionTwo {
    background-image: url('./img/agua.png');
}

#loading {
    margin: auto;
    display: none;
    padding: 80px;
}

#pokemonImage {
    margin: 30px auto;
    width: 100px;
    height: 100px;
    display: none;
    image-rendering: pixelated;
}

#pokemonName {
    font-family: "Press Start 2P", serif;
}

#restart {
    display: none;
    margin: 15px auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(80, 234, 53);
    cursor: pointer;
}