body {
    background-color: rgba(244, 34, 34, 0.883);
    color: rgb(0, 0, 0);
    text-align: center;
}

header {
    margin-top: 50px;
    font-style: italic;
    font-size: large;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: 50px auto;
}

h2 {
    margin-bottom: 40px;
    font-family: "Press Start 2P", serif;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#textOne, #textTwo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: "Press Start 2P", serif;
}

#questionOne {
    padding: 80px;
    background-image: url('./img/fogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
}

#questionTwo {
    padding: 80px;
    background-image: url('./img/agua.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
}

#loading {
    margin: auto;
    display: none;
    padding: 80px;
}

#pokemonImage {
    margin: 30px auto;
    width: 100px;
    height: 100px;
    display: none;
    image-rendering: pixelated;
}

#pokemonName {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}

#restart {
    display: none;
    margin: 15px auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(80, 234, 53);
}